* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.head-content {
    background-color: orangered;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 30px;
    font-size: 40px;
}

.generi{
    display: flex;
    justify-content: flex-start;
}



.logo {

    justify-content: space-around;
    padding: 10px 60px 10px 10px;
    justify-content: flex-end;
}

/* galleria prodotti */



.resizing {
    width: 640px;
}

.supercontainer {

    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.uno {
    padding-top: 300px;
}

.hyde {
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    opacity: 0;
}

.container:hover .hyde {
    opacity: 1;

}


.container {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;

}

.container h3 {
    position: absolute;
    color: white;
    background-color: red;
    display: inline-block;
    bottom: 140px;
    left: 0;
    padding: 10px;
}

h3.green {
    background-color: green;
    left: 70px;
}

.green.solo {
    left: 0;
}

p {
    color: darkgray;
}

i {
    position: absolute;
    color: red;
    background-color: white;
    display: inline-block;
    right: 0;
    top: 10px;
    padding: 10px;

}

/* footer */

footer {
    width: 100%;
    padding-top: 30px;
    background-color: #23272a;
}
    

footer {
    margin: 30px;
    display: flex;
    color: white;
    font-size: 30px;
    text-align: left;
    width: 100%;
}
